<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="styles.css" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="/assets/logo.png" />
        <div class="links">
            <a href="#contact" class="navbar-link call-to-action">Get Started</a>
            <a href="#contact" class="navbar-link">Contact</a>
        </div>
    </nav>
    <div class="hero-section section centered">
        <div class="hero-text-container">
            <h1 class="hero-heading heading">Un viaje personalizado hacia<br/> la paz interior, la claridad<br/> y el bienestar.</h1>
            <a href="#instructor" class="call-to-action">Descubra MT</a>
        </div>
        <img src="/assets/happy.jpg" class="hero-img"/>
    </div>

    <div class="benefits-section section">

        <div class="evidence-card">
                <h2 class="evidence-title">
                    Se practica sin ningún esfuerzo
                </h2>
            <p class="evidence-description description">
                Calquiera puede hacerlo - incluso si piensas
                que no puedes medita
            </p>
        </div>

        <div class="evidence-card">
            <h2 class="evidence-title">
                Se enseña de forma individual
            </h2>

            <p class="evidence-description description">
                Instruccion personalizada con un profesor cualificado
            </p>
        </div>

        <div class="evidence-card">
            <h2 class="evidence-title description">
                Está basada en la evidencia
            </h2>

            <p class="evidence-description description">
                Instruccion personalizada con un profesor cualificado
            </p>
        </div>
        
    </div>

    <div class="what-is-it-section section centered">
        <h1 class="what-is-it-heading heading">Que es la Transcendentation Meditatle?</h1>
        <p class="what-is-it-description description">Es una técnica, que se practica sin esfuerzo, para recargar la mente y el cuerpo y crear un estado mental más positivo y alegre.

Cientos de estudios de investigación publicados sobre la técnica MT han documentado su eficacia para el tratamiento del estrés y la ansiedad, las enfermedades cardiovasculares, y la función cerebral.</p>
        <a href="#" class="call-to-action">Learn More</a>
    </div>

    <div class="whats-different">

        <div class="whats-different-container">

            <div class="difference">
                <img src="/assets/active.jpg" alt="" class="diff-img">
                <div class="difference-text">
                    <div class="difference-text-container">
                        <h3 class="difference-title heading">
                            Sin Efuerza
                        </h3>
                        <p class="difference-description description">
                        Cualquiera puede hacerlo, incluso si usted "no puede meditar"
                        </p>
                    </div>
                </div>
            </div>

            <div class="difference">
                <img src="/assets/relaxed.jpg" alt="" class="diff-img">
                <div class="difference-text">
                    <div class="difference-text-container">
                        <h3 class="difference-title heading">
                            Instrucción personalizada
                        </h3>
                        <p class="difference-description description">
                        La técnica MT no es de "talla única". Se enseña individualmente y se personaliza cuidadosamente para usted.

Solo los profesores certificados de MT pueden enseñarle la auténtica técnica de MT.
                        </p>
                    </div>
                </div>
            </div>

            <div class="difference">
                <img src="/assets/calm.jpg" alt="" class="diff-img">
                <div class="difference-text">
                    <div class="difference-text-container">
                        <h3 class="difference-title heading">
                            Evidencia Cientifiqua
                        </h3>
                        <p class="difference-description description">
Cientos de estudios de investigación publicados han encontrado que la técnica de MT es altamente efectiva para condiciones relacionadas con el estrés, la función cerebral y la salud cardiovascular.
                        </p>
                    </div>
                </div>
            </div>
            {{# <div class="differences">
                <div class="difference-card">
                    <h3 class="difference-title">Sin Efuerza</h3>
                    <p class="description">Cualquiera puede hacerlo, incluso si usted "no puede meditar".</p>
                </div>
                <div class="difference-card">
                    <h3 class="difference-title">Instrucción personalizada</h3>
                    <p class="description">Cualquiera puede hacerlo, incluso si usted "no puede meditar".</p>
                </div>
                <div class="difference-card">
                    <h3 class="difference-title">Sin Efuerza</h3>
                    <p class="description">Cualquiera puede hacerlo, incluso si usted "no puede meditar".</p>
                </div>
                <div class="difference-card">
                    <h3 class="difference-title">Sin Efuerza</h3>
                    <p class="description">Cualquiera puede hacerlo, incluso si usted "no puede meditar".</p>
                </div>
            </div> #}}
        </div>
    </div>

    <div class="contact-us section centered">
        <h1 class="heading contact-heading">Mandanos un Mensaje</h1>
        <form class="contact-form">
            <div class="form-row">
                <label class="form-heading">Nombre</label>
                <input class="form-input"/>
            </div>
            <div class="form-row">
                <label class="form-heading">Arielophone</label>
                <input class="form-input"/>
            </div>
            <button class="call-to-action">Contact</button>
        </form>
    </div>
</body>
</html>